body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: verdana, sans-serif;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 75px;
}

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
}

.student {
  font-size: 50px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #66BFBF;
  font-size: 4rem;
  margin-top: 50px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color:  #11999E;
}

a {
  color:  #11999E;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
}

.profiles {
  padding-top: 50px;
  width: 20%;
}

.profile {
  line-height: 50px;
  padding: 50px;
}

.skills {
    padding: 50px auto 25px auto;
}

.contact-me {
  padding: 25px;
  padding-bottom: 100px;
  line-height: 50px;
}

.python {
  width: 20%;
  float: left;
  padding-right: 30px;
}

.push-up {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-text {
  line-height: 2;
  padding-left: 30px;
  text-align: left;
}

.skill-text1 {
  line-height: 2;
  padding-right: 30px;
  padding-bottom: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link {
  font-size: 16px;
}

.my-name {
  font-size: 1rem;
  color: white;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  line-height: 50px;
}

.contact-message {
  width; 40%;
  margin: 40px auto 60px;
}

hr {
  border: 7px dotted;
  border-style: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
